.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.body > img {
  min-width: 10%;
  position: absolute;
  z-index: -1;
  height: 100vh;
}
.card-container {
  display: flex;
  align-items: center;
  height: 100vh;
}
.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-information-date {
  display: flex;
  margin-bottom: 25px;
}

input {
  padding: 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
}
input ::placeholder {
  color: hsl(270, 3%, 87%);
}
p {
  margin-bottom: -1px;
}
button {
  padding: 15px 0px;
  min-width: 385px;
  border-radius: 5px;
  border: none;
  color: white;
  background: hsl(278, 68%, 11%);
  font-size: 0.8rem;
  cursor: pointer;
}
.cards :nth-child(1) {
  margin-right: 150px;
  margin-bottom: 25px;
}
.card-information > input {
  width: 350px;
  padding: 15px;
}
.card-information-exp input {
  width: 75px;
  padding: 10px;
  margin-right: 10px;
}
